.container {
  margin-bottom: 100px;
}

.bg1 {
  background-image: url(images/bg-1.png), url(images/bg-2.png);
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  background-position: center, left bottom;
}

.card {
  padding: 32px;
  text-align: center;
}

.mid {
  text-align: center;
}
